/* Estilos para centrar el formulario y darle formato */
.form-container {
    position: relative;
    top: 750px;
    max-width: 30%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e7fffb;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* estilos.css */

/* Contenedor de la barra de navegación */
.navbar {
    position: fixed;
    /* Fija la barra en la parte superior de la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    /* Asegura que ocupe el ancho completo de la pantalla */
    background-color: #768fad;
    overflow: hidden;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */

}

/* Espacio para el contenido, ajusta según el tamaño de tu barra */


.navbar-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo para los enlaces de la barra */
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Efecto hover */
.navbar a:hover {
    background-color: #575757;
}

/* Estilo para el enlace activo */
.navbar a.active {
    background-color: #1e5765;
}

body {
    font-family: Arial, sans-serif;
    /* Fuente de la página */
}

/* Estilos para el cuadro derecho */
.right-box {
    position: absolute;
    top: 70px;
    left: 50%;
    right: 5%;
    height: 450px;
    background: linear-gradient(145deg, #e10c7a, #f0a6cf);
    padding: 20px;
    border: 3px solid #e70d8d;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    /* Sombra elegante */
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

/* Estilos internos para la imagen principal */
.right-box img {
    width: 40%;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Transición en hover */
}

/* Efecto hover para la imagen principal */
.img-principal:hover {
    transform: scale(10);
    /* Ajusta el valor según el tamaño deseado */
    transition: transform 0.3s ease;
}

/* Efecto hover para la imagen superpuesta */
.img-superpuesta:hover {
    transform: scale(2);
    /* Ajusta el valor según el tamaño deseado */
    transition: transform 0.3s ease;
}

/* Contenedor de texto */
.text-content {
    width: 55%;
    color: #fff;
    /* Color de texto */
    font-family: Arial, sans-serif;
}

.text-content h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #252524;
}

.text-content h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
    color: #0a389c;
}

.text-content ul,
.text-content ol {
    margin: 0;
    padding-left: 1.2em;
    font-size: 1em;
}

/* Estilos para la imagen superpuesta */
.superposed-image {
    position: absolute;
    top: 10px;

    bottom: 10px;
    /* Distancia desde la parte inferior */
    right: 10px;
    z-index: 10;
    opacity: 0.05;
    width: 20px;
    height: auto;
    border: 2px solid #063ffa;
    border-radius: 0%;
    transition: opacity 0.3s ease, transform 0.5s ease;
}


.superposed-image:hover {
    opacity: 0.9;
    /* Opacidad al pasar el ratón */
    transform: rotate(180deg);
    /* Rotación de 180 grados */
}